<% def format_timestamp(timestamp) %>
  <% formatted_time = timestamp.strftime("%b %-dth %I:%M %p") %>
  <%= formatted_time %>
<% end %>

<div id="message-<%= message.id %>" class="message <%= message.user == current_user ? 'message-right' : 'message-left' %>">
  <p><strong><%= message.user.email.split("@").first %>:</strong> <span class="timestamp"><%= format_timestamp(message.created_at) %></span></p>

  <p><%== message.body %></p>
</div>
