<div class="sticky-bottom">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="footer-icon">
          <%= link_to root_path do %>
            <%= image_tag ("home2.png")%>
          <% end %>
        </div>

        <div class="footer-icon">
          <%= link_to my_items_path do %>
            <%= image_tag ("search.png")%>
          <% end %>
        </div>

        <div class="footer-icon">
          <%= link_to root_path do %>
            <%= image_tag ("profile.png")%>
          <% end %>
        </div>
    </div>
</div>
