<div class="card popup-info-card">
  <div class="card-body-marker">
    <div class="row align-items-center">
      <div class="d-flex justify-content-center">
        <h5 class="card-title mb-0 card-title-bold"><%= item.name.capitalize %></h5>
      </div>
    </div>

    <% if item.image.present? %>
      <div class="text-center mt-0 mb-0">
        <%= image_tag item.image, class: "img-fluid popup-info-image markers-image" %>
      </div>
    <% end %>

    <div class="card-text mb-0">
      <%# <%= item.status == 1 ? 'Found by' : 'Lost by' <%= item.user.email.split('@').first  %> <%#---original code %>
      <span> <strong>Lost by: </strong><%= item.user.email.split('@').first.capitalize %></span>
    </div>

    <div class="card-text mb-0">
      <span><strong>Date: </strong><%= item.date %></span>
    </div>

    <% if item.status == 0 %>
      <div class="card-text mb-0">
        <span class="offer"> <strong>Reward:</strong> £<%= item.reward %></span>
      </div>
    <% end %>
  </div>
</div>
