  <%# code for lost & found item reporting button  %>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: items_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row mx-1 mb-3  flex-column align-items-center ">
    <div class="card-header-top-menu d-flex justify-content-between align-items-center col-md-3 ">
      <div class="col-xs-3">
        <div class="text-center mx-3">
          <%= link_to "Report Item", new_item_path, class: "btn btn-info " %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <%= link_to "#", class: "list-view-link mx-2", "data-action": "click->map#showListView" do %>
            <i class="fa-sharp fa-solid fa-list-ul" style="color: #3272e2;"></i>
          <% end %>
          <%= link_to "#", class: "map-location-link", "data-action": "click->map#showMapLocation" do %>
            <i class="fa-solid fa-map" style="color: #3272e2;"></i>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <%# code for mapbox map  %>
  <div class="row mb-5 flex-column align-items-center mapContainer" >
    <div style="width: 100%; height: 600px;" class="col-md-3"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>


  <%# code for index feed view  %>
  <div class="row mb-5 flex-column align-items-center listContainer">
    <% @items.each do |item| %>
      <% if item.status == 0 %>
          <div class="card index-card-bordered col-md-3 mb-3 px-0">
            <!-- Display lost item -->
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="card-title card-title-bold text-lost-colour mb-0">Lost <%= item.name %></h5>
              <div class="card-icons">
                <a href="#" class="share-icon"><i class="fa-solid fa-share-nodes mx-1"></i></a>
                <a href="#" class="message-icon"><i class="fa-solid fa-message mx-2"></i></a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Date:</strong> <%= item.date.strftime("%B %d, %Y") %></p>
                  <p><strong>Location:</strong> <%= item.location %></p>
                  <% if item.reward.present? %>
                    <p><strong>Reward:</strong> $<%= item.reward %></p>
                  <% end %>
                  <%= link_to "Info", item_path(item) %>
                  <i class="fa-solid fa-circle-info" style="color: #175cd3;"></i>
                </div>
                 <div class="col-md-6 text-end">
                  <% if item.image.attached? %>
                    <%= image_tag item.image, class: "card-image img-fluid" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

      <% elsif item.status == 1 %>
        <% if item.blur == true %>
          <div class="card index-card-bordered col-md-3 mb-3 px-0">
            <!-- Display blurred found item -->
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="card-title card-title-bold text-found-colour">Found <%= item.name %></h5>
              <div class="card-icons">
                <a href="#" class="share-icon"><i class="fa-solid fa-share-nodes mx-1"></i></a>
                <a href="#" class="message-icon"><i class="fa-solid fa-message mx-2 "></i></a>
              </div>
            </div>
            <p class="card-text mx-3"> Hidden to prevent fraud. Report lost item to view potential matches in "My Items" .</p>
            <div class="card-body">
             <p><strong>Date:</strong> <%= item.date.strftime("%B %d, %Y") %></p>
             <p class="blurred-text"><strong>Location:</strong> <%= item.location %></p>
             </div>
          </div>
        <% else %>
          <div class="card index-card-bordered col--3 mb-3 px-0">
            <!-- Display found item -->
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="card-title text-success">Found <%= item.name %></h5>
              <div class="card-icons">
                <a href="#" class="share-icon"><i class="fa-solid fa-share-nodes mx-1"></i></a>
                <a href="#" class="message-icon"><i class="fa-solid fa-message mx-2 "></i></a>
              </div>
            </div>
            <div class="card-body">
              <p><strong>Date:</strong> <%= item.date.strftime("%B %d, %Y") %></p>
              <p><strong>Location:</strong> <%= item.location %></p>
             </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

<%# </div> %>
