<h1 class="text-center mt-4 mb-3"> Potential Matches </h1>


<div class="row mb-5 flex-column align-items-center" style="border-left: 30px solid #fff; border-right: 30px solid #fff;">
  <div class="card index-card-bordered col-xs-3 mb-3 px-0">
      <div style="width: 30; height: 450px;" class="showMapContainer"
      data-controller="showmap"
      data-showmap-markers-value="<%= @markers.to_json %>"
      data-showmap-marker-value="<%= @marker.to_json %>"
      data-showmap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>

  <div class="card index-card-bordered col-xs-3 mb-3 mt-3 px-0">
      <!-- Display lost item -->
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title card-title-bold text-lost-colour mb-0">Lost <%= @item.name %></h5>
        <div class="card-icons">
          <a href="#" class="share-icon"><i class="fa-solid fa-share-nodes mx-1"></i></a>
          <% if current_user != @item.user %>
           <a href="#" class="message-icon"><i class="fa-solid fa-message mx-2"></i></a>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Date:</strong> <%= @item.date.strftime("%B %d, %Y") %></p>
            <p><strong>Location:</strong> <%= @item.location %></p>
            <% if @item.reward.present? %>
              <p><strong>Reward:</strong> $<%= @item.reward %></p>
            <% end %>
          </div>
          <div class="col-md-6 text-end">
            <% if @item.image.attached? %>
              <%= image_tag @item.image, class: "card-image img-fluid" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <% if policy(@item).edit? %>
          <a href="<%= edit_item_path(@item) %>">
            <i class="fa-solid fa-file-pen mx-3 py-3"></i>
          </a>
          <% end %>
        <% if policy(@item).destroy? %>
          <%= button_to @item, method: :delete, class: "btn my-1", onclick: "return confirm('Are you sure you want to delete this item?');" do %>
          <i class="fa-sharp fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
  </div>

    <% @potential_matches.each do |item| %>
        <div class="card index-card-bordered col-xs-3 mb-3 px-0">
          <!-- Display Found  item -->
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title card-title-bold text-found-colour mb-0">Found <%= item.name %></h5>
            <div class="card-icons">
              <a href="#" class="share-icon"><i class="fa-solid fa-share-nodes mx-1"></i></a>
              <a href="#" class="message-icon"><i class="fa-solid fa-message mx-2"></i></a>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <p><strong>Date:</strong> <%= item.date.strftime("%B %d, %Y") %></p>
                <p><strong>Location:</strong> <%= item.location %></p>
                <% if item.reward.present? %>
                  <p><strong>Reward:</strong> $<%= item.reward %></p>
                <% end %>
              </div>
              <div class="col-md-6 text-end">
                <% if item.image.attached? %>
                  <%= image_tag item.image, class: "card-image img-fluid" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
