<h1 class="text-center mt-4 mb-3"> Potential Matches </h1>
<div class="row mb-5 flex-column align-items-center" style="border-left: 30px solid #fff; border-right: 30px solid #fff;">
  <div class="card index-card-bordered col-xs-3 mb-3 px-0">
    <div style="width: 100%; height: 450px;" class="col-md-3"
      data-controller="showmap"
      data-showmap-markers-value="<%= @markers.to_json %>"
      data-showmap-marker-value="<%= @marker.to_json %>"
      data-showmap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="card index-card-bordered col-xs-3 mb-3 mt-3 px-0">
    <!-- Display lost item -->
    <div class="card-header d-flex justify-content-between align-items-center">
      <% if @item.status == 0 %>
        <h5 class="card-title card-title-bold text-lost-colour mb-0">Lost <%= @item.name %></h5>
      <% else %>
        <h5 class="card-title card-title-bold text-found-colour mb-0">Found <%= @item.name %></h5>
      <% end %>
      <div class="card-icons">
        <% if current_user != @item.user %>
          <a href="#" class="message-icon"><i class="fa-solid fa-message mx-2"></i></a>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Date:</strong> <%= @item.date.strftime("%B %d, %Y") %></p>
          <p><strong>Location:</strong> <%= @item.location %></p>
          <p><strong>user id:</strong> <%= @item.user_id %></p>
          <% if @item.reward.present? %>
            <p><strong>Reward:</strong> $<%= @item.reward %></p>
          <% end %>
        </div>
        <div class="col-md-6 text-end">
          <% if @item.image.attached? %>
            <%= image_tag @item.image, class: "card-image img-fluid" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <% @potential_matches.each do |item| %>
    <div class="card index-card-bordered col-xs-3 mb-3 px-0">
      <!-- Display Found item -->
   <div class="card-header d-flex justify-content-between align-items-center">
  <% if @item.status == 1 %>
    <h5 class="card-title card-title-bold text-lost-colour mb-0">Lost <%= item.name %></h5>
  <% else %>
    <h5 class="card-title card-title-bold text-found-colour mb-0">Found <%= item.name %></h5>
  <% end %>
  <div class="card-icons">
    <div class="text-right">
      <%= link_to chatroom_path(other_user_id: item.user.id), class: "message-icon" do %>
        <i class="fa-solid fa-message mx-2"></i>
      <% end %>
    </div>
  </div>
</div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Date:</strong> <%= item.date.strftime("%B %d, %Y") %></p>
            <p><strong>Location:</strong> <%= item.location %></p>
            <% if item.reward.present? %>
              <p><strong>Reward:</strong> $<%= item.reward %></p>
            <% end %>
          </div>
          <div class="col-md-6 text-end">
            <% if item.image.attached? %>
              <%= image_tag item.image, class: "card-image img-fluid" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
